<div class="container">

    <div class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Burger Orders for Pickup.</p>
        <br>
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                    <p>Order Burger</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span>{{this.id}} - {{this.burger_name}}</span>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burger is Ready for Pick Up</strong>
                    <p>Remove order when delivered</p>
                </div>
                <div class="panel-body">
                    <h4>Add content</h4>
                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>